{% load static %}
  
<div class="weatherRectangle">
    <button class="weatherTitleButton">CLIMA</button><br><br>
    <!-- Implementación del diseño de clima -->
    <div class="piclima">
        <div class="container_cli">
            <div class="cloud front">
                <span class="left-front"></span>
                <span class="right-front"></span>
            </div>
                <span class="sun sunshine"></span>
                <span class="sun"></span>
            <div class="cloud back">
                <span class="left-back"></span>
                <span class="right-back"></span>
            </div>
        </div>
    </div>
    <div class="piclima2">
        <div class="container_cli">
            <div class="cloud front">
                <span class="left-front"></span>
                <span class="right-front"></span>
            </div>
                <span class="sun sunshine"></span>
                <span class="sun"></span>
            <div class="cloud back">
                <span class="left-back"></span>
                <span class="right-back"></span>
            </div>
        </div>
    </div>

    <div class="weatherWidgetContainer container-fluid">
        <!-- Clima en Santiago -->
        <div class="weatherCard" id="weather-santiago">
            <p class="weatherCity" id="city-name-santiago">Nombre Ciudad</p>
            <p class="weatherDescription" id="weather-description-santiago">Descripcion Clima</p>
            <svg
                class="weatherIcon"
                version="1.1"
                x="0px"
                y="0px"
                width="50px"
                height="50px"
                viewBox="0 0 100 100"
                xml:space="preserve"
            >
                <image
                id="weather-icon-santiago"
                width="100"
                height="100"
                x="0"
                y="0"
                href=""
                ></image>
            </svg>
        <p class="weatherTemp" id="temperature-santiago">XX°</p>
        <div class="minMaxContainer">
            <div class="min">
            <p class="minHeading">Min</p>
            <p class="minTemp" id="min-temp-santiago">XX°</p>
            </div>
            <div class="max">
            <p class="maxHeading">Max</p>
            <p class="maxTemp" id="max-temp-santiago">XX°</p>
            </div>
        </div>
        </div>
    
        <!-- Clima en Viña del Mar -->
        <div class="weatherCard" id="weather-vina">
        <p class="weatherCity" id="city-name-vina">City Name</p>
        <p class="weatherDescription" id="weather-description-vina">Weather Description</p>
        <svg
            class="weatherIcon"
            version="1.1"
            x="0px"
            y="0px"
            width="50px"
            height="50px"
            viewBox="0 0 100 100"
            xml:space="preserve"
        >
            <image
            id="weather-icon-vina"
            width="100"
            height="100"
            x="0"
            y="0"
            href=""
            ></image>
        </svg>
        <p class="weatherTemp" id="temperature-vina">XX°</p>
        <div class="minMaxContainer">
            <div class="min">
            <p class="minHeading">Min</p>
            <p class="minTemp" id="min-temp-vina">XX°</p>
            </div>
            <div class="max">
            <p class="maxHeading">Max</p>
            <p class="maxTemp" id="max-temp-vina">XX°</p>
            </div>
        </div>
        </div>
    
        <!-- Clima en Valparaíso -->
        <div class="weatherCard" id="weather-valparaiso">
        <p class="weatherCity" id="city-name-valparaiso">City Name</p>
        <p class="weatherDescription" id="weather-description-valparaiso">Weather Description</p>
        <svg
            class="weatherIcon"
            version="1.1"
            x="0px"
            y="0px"
            width="50px"
            height="50px"
            viewBox="0 0 100 100"
            xml:space="preserve"
        >
            <image
            id="weather-icon-valparaiso"
            width="100"
            height="100"
            x="0"
            y="0"
            href=""
            ></image>
        </svg>
        <p class="weatherTemp" id="temperature-valparaiso">XX°</p>
        <div class="minMaxContainer">
            <div class="min">
            <p class="minHeading">Min</p>
            <p class="minTemp" id="min-temp-valparaiso">XX°</p>
            </div>
            <div class="max">
            <p class="maxHeading">Max</p>
            <p class="maxTemp" id="max-temp-valparaiso">XX°</p>
            </div>
        </div>        
        </div>
    </div>
</div>




