{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Caso News - listadoSQL</title>
    <link rel="icon" href="{% static 'Img/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">
    <!-- Encabezado con Navbar -->
    <header>
    </header>

    {% for alumnos in alumnos %}

    {{noticiero.rut}}, {{noticiero.nombre}}, {{noticiero.apellido_paterno}}, {{noticiero.rut}}
    {{noticiero.apellido_materno}}, {{noticiero.id_genero.genero}} <br>

    {% endfor%}

    
<div class="spacer" style="height: 50px;"></div>
<div class="spacer" style="height: 50px;"></div>    
<div class="spacer" style="height: 50px;"></div>    
<div class="spacer" style="height: 50px;"></div>    

   
    <!-- Pie de página -->
    <footer>
    </footer>
        
    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>

{% block content %}
{% endblock %}
</body>
</html>