{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caos News{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesVistas.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIcon.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesCrud.css' %}">
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body style="background-color: #DBE0E3;">

    <!-- Loader -->
    {% include 'noticiero/includes/loader.html' %}

    <!-- Header -->
    {% include 'noticiero/includes/header.html' %}


    <!-- Content -->
    <div class="container-fluid" id="main-content" style="display: none;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    {% include 'noticiero/includes/footer.html' %}

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
