{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caos News{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesVistas.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIcon.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body style="background-color: #DBE0E3;">

    <!-- Loader -->
    {% include 'includes/loader.html' %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- Modals -->
    {% include 'modals/iniciar_sesion.html' %}
    {% include 'modals/registrar.html' %}

    <!-- Content -->
    <div class="container-fluid" id="main-content" style="display: none;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
