<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caos News - Categorías</title>
    <link rel="icon" href="Img/Logo.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
         .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body>

    <header>
    </header>

    <div class="container">
        <!-- Carrusel para la categoría Seguridad -->
        <section class="category-carousel" id="seguridad-carousel">
            <h2>Seguridad</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiasYolviGonzalez.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/YOLVI/yolvigonzalez.jpg" class="card-img-top" alt="noticiasYolviGonzalez" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>                                
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiasYolviGonzalez.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Monjanunoa.jpg" class="card-img-top" alt="noticiasYolviGonzalez" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Hallazgo de cuerpo en Ñuñoa: Arzobispado afirma que mujer que dejó restos en la calle “no es religiosa”.</h5>
                                    <p>De acuerdo al organismo de la Iglesia Católica</p>
                                </div>
                            </a>
                        </div>   
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiasYolviGonzalez.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/YOLVI/yolvigonzalez.jpg" class="card-img-top" alt="noticiasYolviGonzalez" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>                                
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiasYolviGonzalez.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Monjanunoa.jpg" class="card-img-top" alt="noticiasYolviGonzalez" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Hallazgo de cuerpo en Ñuñoa: Arzobispado afirma que mujer que dejó restos en la calle “no es religiosa”.</h5>
                                    <p>De acuerdo al organismo de la Iglesia Católica</p>
                                </div>
                            </a>
                        </div>   
                    </div>                    
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Economía -->
        <section class="category-carousel" id="economia-carousel">
            <h2>Economía</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaChilecaidanegocios.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/SingapurRanking.jpg" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaChilecaidanegocios.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/SingapurRanking.jpg" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaChilecaidanegocios.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/SingapurRanking.jpg" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaChilecaidanegocios.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/SingapurRanking.jpg" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Política -->
        <section class="category-carousel" id="politica-carousel">
            <h2>Política</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaFiltracion.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/filtracion.jpeg" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaFiltracion.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/filtracion.jpeg" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaFiltracion.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/filtracion.jpeg" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaFiltracion.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/filtracion.jpeg" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Tecnología -->
        <section class="category-carousel" id="tecnologia-carousel">
            <h2>Tecnología</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaAntarticarealidadvirtual.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Antarticarealidadvirtual.jpg" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaAntarticarealidadvirtual.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Antarticarealidadvirtual.jpg" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaAntarticarealidadvirtual.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Antarticarealidadvirtual.jpg" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaAntarticarealidadvirtual.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/Antarticarealidadvirtual.jpg" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Videojuegos -->
        <section class="category-carousel" id="videojuegos-carousel">
            <h2>Videojuegos</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaSteam.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/FundadorSteam.jpeg" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaSteam.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/FundadorSteam.jpeg" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaSteam.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/FundadorSteam.jpeg" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="noticiaSteam.html" style="text-decoration: none; color: black;">
                                <img src="Img/Noticias/FundadorSteam.jpeg" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </div>

    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>

    <footer>
    </footer>

    <!-- Scripts necesarios para Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
    <script>
        // Inicialización del carrusel para cada categoría
        var seguridadCarousel = new Swiper('#seguridad-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#seguridad-carousel .swiper-button-next',
                prevEl: '#seguridad-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#seguridad-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var economiaCarousel = new Swiper('#economia-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#economia-carousel .swiper-button-next',
                prevEl: '#economia-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#economia-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var politicaCarousel = new Swiper('#politica-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#politica-carousel .swiper-button-next',
                prevEl: '#politica-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#politica-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var tecnologiaCarousel = new Swiper('#tecnologia-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#tecnologia-carousel .swiper-button-next',
                prevEl: '#tecnologia-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#tecnologia-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var videojuegosCarousel = new Swiper('#videojuegos-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#videojuegos-carousel .swiper-button-next',
                prevEl: '#videojuegos-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#videojuegos-carousel .swiper-pagination',
                clickable: true,
            },
        });
    </script>

    <!-- Loader para index.html-->
    <div id="loader-index" class="loader">
        <div class="square" id="sq1"></div>
        <div class="square" id="sq2"></div>
        <div class="square" id="sq3"></div>
        <div class="square" id="sq4"></div>
        <div class="square" id="sq5"></div>
        <div class="square" id="sq6"></div>
        <div class="square" id="sq7"></div>
        <div class="square" id="sq8"></div>
        <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-index").style.display = "none";
        
                // Obtener el enlace de categoría
                var enlaceCategoria = document.getElementById("enlace-index");
        
                // Agregar un evento de clic al enlace
                enlaceCategoria.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-index").style.display = "block";
                });
            });
        </script>
    <!-- Loader para contacto.html -->
    <div id="loader-contacto" class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-contacto").style.display = "none";
        
                // Obtener el enlace para contacto.html
                var enlaceContacto = document.getElementById("enlace-contacto");
        
                // Agregar un evento de clic al enlace
                enlaceContacto.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-contacto").style.display = "block";
                });
            });
        </script>
    <!-- Loader para UneNosotros.html -->
    <div id="loader-UneNosotros" class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-UneNosotros").style.display = "none";
        
                // Obtener el enlace para contacto.html
                var enlaceContacto = document.getElementById("enlace-UneNosotros");
        
                // Agregar un evento de clic al enlace
                enlaceContacto.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-UneNosotros").style.display = "block";
                });
            });
        </script>
    <!-- Loader para sobreNosotros.html -->
    <div id="loader-sobreNosotros" class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-sobreNosotros").style.display = "none";
        
                // Obtener el enlace para contacto.html
                var enlaceContacto = document.getElementById("enlace-sobreNosotros");
        
                // Agregar un evento de clic al enlace
                enlaceContacto.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-sobreNosotros").style.display = "block";
                });
            });
        </script>
        

</body>
</html>
