{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Hoja de estilos -->
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">
    <!-- Encabezado con Navbar -->
    <header>
    </header>

  <main>
    <!-- Noticia 1 -->
    <div class="noticia1-Info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/ronaldpolitico.jpg' %}" class="img-fluid" alt="Imagen de la noticia">
                </div>
                <div class="col-md-6">
                    <h2>Diputados piden romper relaciones con Venezuela: "Chile debe tener consecuencia con su tradición democrática"</h2>
                    <p>Desde la UDI al Partido Socialista, los parlamentarios emplazaron al Ejecutivo a exigir la extradición de los sospechosos del asesinato del exmilitar.</p>
                    <div class="info">Autor: Ruben Dario Contreras | Fecha: 12 de abril de 2024 | Categoría: Política</div>
                    <hr>
                    <p>Luego de que la Fiscalía y la ministra del Interior, Carolina Tohá, señalaran que el asesinato del exmilitar Ronald Ojeda Moreno tendría un "móvil político" y que fue orquestado desde Venezuela, varios parlamentarios emplazaron al Gobierno a "romper las relaciones diplomáticas" con dicho país.</p>
                    <p>"Según la investigación, la víctima no tiene vínculos con el crimen organizado, no hay ningún elemento para considerar, por ejemplo, un autosecuestro y ninguna otra hipótesis. Y eso es lo que ha llevado a la Fiscalía a pensar que la hipótesis más plausible es que haya habido un móvil político. Ahora de quién es ese móvil político, eso es lo que la investigación debe aclarar, y quienes tienen la clave de eso son estas personas que se fugaron de Chile", puntualizó la secretaria de Estado. </p>
                    <p>A partir de esas declaraciones, desde la UDI al Partido Socialista se generó un "apoyo transversal" para que el Ejecutivo exija la extradición de los sospechosos del asesinato del exmilitar.</p>
                    <p>"Chile no puede sostener relaciones diplomáticas con la dictadura de Venezuela. Lo que hizo el dictador Maduro es lo mismo que hizo el dictador Pinochet en tiempos pasado. Por lo tanto, Chile debe tener consecuencia con su tradición democrática y romper sus relaciones <span id="palabraclave" class="palabra-clave" data-content="Institución secular mantenida entre dos Estados sobre la base del consentimiento mutuo, con las finalidades de representación, protección de intereses, negociación, información y fomento de la cooperación entre el sujeto acreditante y el sujeto receptor.">diplomáticas</span>", señaló el jefe de la bancada de diputados del Partido por la Democracia (PPD), Jaime Araya</p>
                    <p>Con similar opinión, Tomás de Rementería (PS), presidente de la Comisión de Relaciones Exteriores, manifestó que "Venezuela no está cooperando con Chile en relación al asesinato y secuestro del teniene Ojeda. Hay indicios claros de participación incluso de grupos afines del gobierno venezolano en esto". </p>
                    <p>Ante los antecedentes revelados por la investigación, la ministra Tohá aseveró que "el Gobierno va a demandar que Venezuela cumpla con sus responsabilidades. Esto es importante para Chile, pero también para venezuela. Los ojos van a estar puestos sobre su comportamiento".  </p>
                    <p>Por su parte, Cristián Labbé (UDI) criticó que "una vez más, las relaciones exteriores de Chile no han estado a la altura de lo que Chile necesita. El famoso convenio fue un tongo y una <span id="palabraclave" class="palabra-clave" data-content="Descuido o falta de esmero.">desprolijidad</span> tremenda (...) Lo que hay que hacer es cortar toda relación diplomática con Venezuela y con la dictadura de Maduro, y endurecer el tono de Chile".</p>
                    <p>En tanto, Rojo Edwards (IND - exrepublicano) emplazó a la ministra Tohá a renunciar. "Usted es un escollo para el combate contra el crimen organizado. Hasta cuándo siguen muriendo Carabineros. Si la ministra Tohá nos va a seguir tomando el pelo, debe renunciar. Hasta cuándo nos engaña diciendo que Maduro nos va a colaborar contra el crimen organizado cuando dice que ni siquiera existe", aseveró.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
  
<div class="spacer" style="height: 50px;"></div>

    <!-- Pie de página -->
    <footer>
    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
