{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Hoja de estilos -->
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">
    <!-- Encabezado con Navbar -->
    <header>
    </header>

<main>
    <!-- Noticia 1 -->
    <div class="noticia1-Info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/Monjanunoa.jpg' %}" class="img-fluid" alt="Imagen de la noticia">
                </div>
                <div class="col-md-6">
                    <h2>Hallazgo de cuerpo en Ñuñoa: Arzobispado afirma que mujer que dejó restos en la calle “no es religiosa” y que no hay registros de que fallecida sea monja</h2>
                    <div class="info">Autor: Luis Cerda | Fecha: 10 de Abril, 2024 | Categoría: Seguridad</div>
                    <hr>
                    <p>De acuerdo al organismo de la Iglesia Católica solo la hija de la mujer de 80 años pertenece a su Arquidiócesis, y retornó al país desde Italia hace poco tiempo para cuidar a su madre.</p>
                    <p>Esta tarde, el Arzobispado de Santiago se refirió al hallazgo de un cadáver al interior de la maleta en la comuna de Ñuñoa, caso que involucra a dos mujeres, una madre y una hija.</p>
                    <p>El caso se desencadenó luego del hallazgo de los restos en la vía pública el pasado lunes. Luego se determinó que los restos <b>correspondían a una mujer de 60 años, y que su data de muerte era superior a los seis meses.</b></p>
                    <p>De acuerdo a los primeros antecedentes, una mujer de 80 años, presuntamente monja y que reside en una vivienda ubicada en calle Los Jardines, dejó la maleta con restos humanos afuera de su vivienda, la que fue la encontrada por un reciclador de basura, quien la llevó hasta Los Talaveras, donde se percató de su contenido.</p>
                    <p>La mujer prestó este martes declaración junto a su hija, quien es religiosa. Ahí, la mujer mayor afirmó que los restos correspondían a una monja que murió en abril de 2023 producto de un cáncer que no se trató, a los 58 años, deceso que se produjo en calle Suárez Mujica. En ese lugar, el cuerpo se habría mantenido al interior de una bodega. La ahora imputada dijo que había realizado un pacto con la fallecida, en el que habían tomado el compromiso de no denunciar si alguna de las dos moría.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/monjanunoa2.png' %}" alt="Imagen monjanunoa2" class="floatLeft img-fluid">
                </div>
                <div class="col-md-6">
                    <p>De acuerdo al Arzobispado, quien se pronunció mediante un comunicado, <b> solo la menor de las mujeres que fueron interrogadas por el caso, es religiosa,</b> y afirma que volvió al país hace un tiempo para cuidar a su madre, que según los antecedentes de la investigación, tendría demencia senil.</p>
                    <p>“La mujer adulta mayor que habita su domicilio particular en Ñuñoa, no es religiosa, ni pertenece a un instituto de vida consagrada de la iglesia católica. Su hija sí es religiosa y vino desde Italia, hace poco tiempo para cuidarla”, precisó la Arquidiócesis.</p>
                    <p>Además, afirman que no tienen registro de que la mujer fallecida “sea religiosa, ni consagrada de esta Arquidiócesis”.</p>
                    <p>“Confiamos que el Ministerio Público y la justicia podrán aclarar cuanto antes los hechos”, manifiesta el organismo católico.</p>
                
                </div>
            </div>
        </div>
    </div>
</main>

<div class="spacer" style="height: 50px;"></div>
    
    <!-- Pie de página -->
    <footer>
    </footer>
    
    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
