{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Hoja de estilos -->
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">
    <!-- Encabezado con Navbar -->
    <header>
    </header>


    <main>
        <!-- Noticia 1 -->
        <div class="noticia1-Info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'Img/Noticias/FundadorSteam.jpeg' %}" class="img-fluid" alt="Imagen de la noticia">
                    </div>
                    <div class="col-md-6">
                        <h2>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h2>
                        <div class="info">Autor: Francisco Solís | Fecha: 19 de Marzo, 2024 | Categoría: Videojuegos</div>
                        <hr>
                        <p>La CeBIT era una de las exposiciones de tecnología más grandes del mundo. Con unos 450.000 metros cuadrados de exhibición, por sus pabellones se pasearon personas de la talla de Steve Wozniak, Eugene Karpersky y Gabe Newell, fundador de Valve y creador de Steam. De hecho, fue durante una CeBIT, en la de 2011 y en la rueda de prensa de Intel, precisamente, cuando Newell anunció Steam Guard e hizo un experimento de lo más interesante.</p>
                        <p>Revelar su usuario y contraseña de Steam.</p>
                        <p>Llega Steam Guard. Steam Guard fue uno de los grandes anuncios de Valve en 2011. Puedo haber sido 'Half-Life 3', pero no. Esta función es un nivel adicional de seguridad para las cuentas que, básicamente, consiste en recibir un código de acceso especial para verificar que somos nosotros. Cuando se anunció en 2011, Steam Guard se basaba en Intel's Identity Protection Technology, una función lanzada en los Intel Sandy Bridge que permitía vincular la cuenta de Steam a un ordenador concreto y autorizar (o no) otros PCs en la distancia.</p>
                        <p>Gabe Newell, confiadísimo. Para dar muestra de la confianza depositada en esta tecnología, el creador de Steam no hizo otra cosa que revelar sus credenciales de Steam. "Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW, así que puedes intentar entrar y robarme la cuenta si puedes, ¡pero no puedes!", dijo el fundador de Valve durante la presentación.</p>
                        <p>No es tanto Steam, sino el correo. La cosa es que este reto no era tanto acceder a la cuenta de Steam, sino al correo de Newell, y eso ya era otro cantar. Además, Valve se guardó la espaldas porque puede que Steam Guard no sea infalible, pero su punto crítico, que es el correo electrónico, no depende de Valve. Actualmente, Steam Guard funciona vía correo o vía Steam Mobile y, a expensas de que Steam sume soporte para Passkeys, Steam Guard a.k.a. la autenticación en dos pasos es la mejor forma de asegurar nuestra cuenta.</p>
                        <p>El fin del mito. La cosa es que, que se sepa, nadie ha conseguido entrar en la cuenta de Steam de Gabe Newell. Sin embargo, hay un dato que normalmente se nos escapa y es que las credenciales reveladas por Newell son, ahora mismo, incorrectas. La cuenta da error al acceder y advierte de que el correo o la contraseña no son válidas. De hecho, hay posts del año 2017 que indican que algo, seguramente la contraseña, se había cambiado.</p>
                    </div>
                </div>
            </div>
        </div>

    </main>

<div class="spacer" style="height: 50px;"></div>

    <!-- Pie de página -->
    <footer>
    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
