{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Unete</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #f0f0f0;">
    <!-- Encabezado con Navbar -->
    <header></header>

    <!-- Sección de uneNosotros -->
    <form id="joinForm">
        <section class="container mt-5 form-section" id="contacto">
            <h2 class="text-center">Únete a Nosotros</h2>

            <!-- Ejemplo de clase crood formulario-->
            {% csrf_token %}

            <pre>Rut:           <input type="text" name="rut"   ></pre>


            <form>
                <!-- Campo para Nombre -->
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
                </div>

                <!-- Campo para Apellidos -->
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos (Paterno y Materno)</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingresa tus apellidos" required>
                </div>

                <!-- Campo para Correo Electrónico -->
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="tucorreo@example.com" required>
                </div>

                <!-- Campo para Celular -->
                <div class="mb-3">
                    <label for="celular" class="form-label">Celular</label>
                    <input type="tel" class="form-control" id="celular" name="celular" placeholder="Ingresa tu número de celular" required pattern="[0-9]{9,10}">
                </div>

                <!-- Botones para Género -->
                <div class="mb-3">
                    <label class="form-label">Género</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="generoMasculino" value="Masculino" required>
                            <label class="form-check-label" for="generoMasculino">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="generoFemenino" value="Femenino" required>
                            <label class="form-check-label" for="generoFemenino">Femenino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="generoOtro" value="Otro" required>
                            <label class="form-check-label" for="generoOtro">Otro</label>
                        </div>
                    </div>
                </div>

                <!-- Fecha de Nacimiento -->
                <div class="mb-3">
                    <label for="fecha-nacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fecha-nacimiento" name="fecha-nacimiento" required>
                </div>

                <!-- Campo para Mensaje -->
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escribe tu mensaje aquí" required></textarea>
                </div>

                <!-- Botón de envío -->
                <button type="submit" class="custom-btn btn-1">Enviar</button>
            
            </form>
        </section>
    </form>

<div class="spacer" style="height: 50px;"></div>
<div class="spacer" style="height: 50px;"></div>
    
    <!-- Pie de página -->
    <footer>
    </footer>
        
    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>

   
    <!-- Loader para categoria.html-->
    <div id="loader-categoria" class="loader">
        <div class="square" id="sq1"></div>
        <div class="square" id="sq2"></div>
        <div class="square" id="sq3"></div>
        <div class="square" id="sq4"></div>
        <div class="square" id="sq5"></div>
        <div class="square" id="sq6"></div>
        <div class="square" id="sq7"></div>
        <div class="square" id="sq8"></div>
        <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-categoria").style.display = "none";
        
                // Obtener el enlace de categoría
                var enlaceCategoria = document.getElementById("enlace-categoria");
        
                // Agregar un evento de clic al enlace
                enlaceCategoria.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-categoria").style.display = "block";
                });
            });
        </script>
        <!-- Loader para contacto.html -->
    <div id="loader-contacto" class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-contacto").style.display = "none";
        
                // Obtener el enlace para contacto.html
                var enlaceContacto = document.getElementById("enlace-contacto");
        
                // Agregar un evento de clic al enlace
                enlaceContacto.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-contacto").style.display = "block";
                });
            });
        </script>
        <!-- Loader para sobreNosotros.html -->
    <div id="loader-sobreNosotros" class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Ocultar el loader al cargar la página
                document.getElementById("loader-sobreNosotros").style.display = "none";
        
                // Obtener el enlace para contacto.html
                var enlaceContacto = document.getElementById("enlace-sobreNosotros");
        
                // Agregar un evento de clic al enlace
                enlaceContacto.addEventListener("click", function() {
                    // Mostrar el loader al hacer clic en el enlace
                    document.getElementById("loader-sobreNosotros").style.display = "block";
                });
            });
        </script>
        
</body>
</html>