{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caos News - Categorías</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Hoja de estilos -->
    <style>
         .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body>

    <!-- Incluir el header desde el directorio includes -->
    {% include 'noticiero/includes/header.html' %}
    
    <div class="container">
        <!-- Carrusel para la categoría Seguridad -->
 <section class="category-carousel" id="seguridad-carousel">
    <h2>Seguridad</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card mb-4">
                    <a href="{% static 'noticiasYolviGonzalez' %}" style="text-decoration: none; color: black;">
                        <img src="{% static 'Img/Noticias/YOLVI/yolvigonzalez.jpg' %}" class="card-img-top" alt="noticiasYolviGonzalez" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                            <p>La madre de todas las filtraciones de datos.</p>
                        </div>
                    </a>
                </div>                                
            </div>
            <!-- Repite el bloque swiper-slide según sea necesario -->
        </div>
        <!-- Controles del carrusel -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Economía -->
        <section class="category-carousel" id="economia-carousel">
            <h2>Economía</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiero/noticiasYolviGonzalez.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/SingapurRanking.jpg' %}" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaChilecaidanegocios.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/SingapurRanking.jpg' %}" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaChilecaidanegocios.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/SingapurRanking.jpg' %}" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaChilecaidanegocios.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/SingapurRanking.jpg' %}" class="card-img-top" alt="noticiaChilecaidanegocios" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>            
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Política -->
        <section class="category-carousel" id="politica-carousel">
            <h2>Política</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaFiltracion.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/filtracion.jpeg' %}" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaFiltracion.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/filtracion.jpeg' %}" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaFiltracion.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/filtracion.jpeg' %}" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaFiltracion.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/filtracion.jpeg' %}" class="card-img-top" alt="noticiaFiltracion" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Acabamos de descubrir la mayor filtración de datos de la historia: 26.000 millones de cuentas, al descubierto</h5>
                                    <p>La madre de todas las filtraciones de datos.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Tecnología -->
        <section class="category-carousel" id="tecnologia-carousel">
            <h2>Tecnología</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaAntarticarealidadvirtual.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/Antarticarealidadvirtual.jpg' %}" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaAntarticarealidadvirtual.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/Antarticarealidadvirtual.jpg' %}" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaAntarticarealidadvirtual.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/Antarticarealidadvirtual.jpg' %}" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaAntarticarealidadvirtual.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/Antarticarealidadvirtual.jpg' %}" class="card-img-top" alt="noticiaAntartica" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h5>
                                    <p>Una fundación británica ha reunido datos geográficos, fotografías, IA y la narración de un explorador para trasladar al usuario a una base antártica.</p>
                                </div>
                            </a>
                        </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <div class="spacer" style="height: 50px;"></div>

        <!-- Carrusel para la categoría Videojuegos -->
        <section class="category-carousel" id="videojuegos-carousel">
            <h2>Videojuegos</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaSteam.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/FundadorSteam.jpeg' %}" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaSteam.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/FundadorSteam.jpeg' %}" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="{% static 'noticiaSteam.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/FundadorSteam.jpeg' %}" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card mb-4">
                            <a href="{% static 'noticiaSteam.html' %}" style="text-decoration: none; color: black;">
                                <img src="{% static 'Img/Noticias/FundadorSteam.jpeg' %}" class="card-img-top" alt="noticiaSteam" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5>El fundador de Steam pidió en 2011 que alguien hackeara su cuenta. Nadie lo ha conseguido (y con razón)</h5>
                                    <p>"Mi usuario es gaben@valvesoftware.com y mi contraseña es MoolyFTW", confesó Gabe Newell en 2011.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </div>

    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="spacer" style="height: 50px;"></div>


    <!-- Incluir el footer desde el directorio includes -->
    {% include 'noticiero/includes/footer.html' %}

    <!-- Scripts necesarios para Swiper -->
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // Inicialización del carrusel para cada categoría
        var seguridadCarousel = new Swiper('#seguridad-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#seguridad-carousel .swiper-button-next',
                prevEl: '#seguridad-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#seguridad-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var economiaCarousel = new Swiper('#economia-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#economia-carousel .swiper-button-next',
                prevEl: '#economia-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#economia-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var politicaCarousel = new Swiper('#politica-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#politica-carousel .swiper-button-next',
                prevEl: '#politica-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#politica-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var tecnologiaCarousel = new Swiper('#tecnologia-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#tecnologia-carousel .swiper-button-next',
                prevEl: '#tecnologia-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#tecnologia-carousel .swiper-pagination',
                clickable: true,
            },
        });

        var videojuegosCarousel = new Swiper('#videojuegos-carousel .swiper-container', {
            // Configuración del carrusel
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '#videojuegos-carousel .swiper-button-next',
                prevEl: '#videojuegos-carousel .swiper-button-prev',
            },
            pagination: {
                el: '#videojuegos-carousel .swiper-pagination',
                clickable: true,
            },
        });
    </script>

    <!-- Loader Buscare otro-->

</body>
</html>
