{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Une Nosotros</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesVistas.css' %}"> 
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body>
    
        <!-- Loader -->
        {% include 'noticiero/includes/loader.html' %}
    
        <!-- Incluir el header desde el directorio includes -->
        {% include 'noticiero/includes/header.html' %}
            
        <!-- Espacio entre  -->
        <div class="spacer" style="height: 120px;"></div>
        
        
    
    <!-- { % for noticiero in noticiero %}
        
        {{noticiero.rut}}, {{noticiero.nombre}}, {{noticiero.apellido_paterno}},
        {{noticiero.apellido_materno}}, {{noticiero.id_genero.genero}}, <br>

    { % endfor %} -->


    <!-- Sección de contacto -->
    <section class="container mt-5" id="contacto">
        <h2 class="text-center">Contáctanos</h2>
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="tucorreo@example.com" required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escribe tu mensaje aquí" required></textarea>
            </div>
            <button type="submit" class="custom-btn btn-1">Enviar</button>
        </form>
    </section>
        
    
      <!-- Espacio entre footer  -->
      <div class="spacer" style="height: 50px;"></div>
      <div class="spacer" style="height: 50px;"></div>
    
      <!-- Incluir el footer desde el directorio includes -->
      {% include 'noticiero/includes/footer.html' %}
    
       <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
    
</body>
</html>
    