{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <style>
             .search-form {
                margin-right: auto;
            }
            .search-button {
                color: white;
                background-color: #720312;
            }
            .noticia-card {
                background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
            }
        </style>
    </head>
<body>

  <!-- Loader -->
  {% include 'noticiero/includes/loader.html' %}

  <!-- Incluir el header desde el directorio includes -->
  {% include 'noticiero/includes/header.html' %}

  <main>
    <div class="container">
      <h1>Sobre Nosotros</h1>
      <p>Somos una empresa dedicada a proporcionar información precisa y relevante sobre diversas noticias y temas de actualidad. Nuestro objetivo es mantener a nuestros usuarios informados y actualizados sobre los acontecimientos más importantes en el mundo.</p>
      <br>
      <h2>Nuestra Misión</h2>
      <p>Nuestra misión es brindar un servicio confiable y de calidad que satisfaga las necesidades informativas de nuestra comunidad. Buscamos promover el acceso a información veraz y objetiva para fomentar una sociedad informada y participativa.</p>
      <br>
      <h2>Nuestra Visión</h2>
      <p>Queremos convertirnos en el principal referente en la entrega de noticias y contenido informativo, destacándonos por nuestra integridad, precisión y compromiso con la verdad. Aspiramos a ser reconocidos como un medio confiable y de prestigio a nivel nacional e internacional.</p>
    </div>
  </main>

  <!-- Espacio entre footer  -->
  <div class="spacer" style="height: 50px;"></div>
  <div class="spacer" style="height: 50px;"></div>

  <!-- Incluir el footer desde el directorio includes -->
  {% include 'noticiero/includes/footer.html' %}

   <!-- Scripts -->
   <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
