{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Une Nosotros</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesVistas.css' %}"> 
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body>

    <!-- Loader -->
    {% include 'noticiero/includes/loader.html' %}

    <!-- Incluir el header desde el directorio includes -->
    {% include 'noticiero/includes/header.html' %}
        
    <!-- Espacio entre  -->
    <div class="spacer" style="height: 120px;"></div>
    

    <!-- Sección de UneNosotros -->
    <section class="centered-container">
        <div class="custom-card">
            <h2 class="card-title text-center mb-4">
                Únete a Nosotros
            </h2>
            <form method="post">
                {% csrf_token %}
                <div class="space-y-4">
                    <div>
                        <label class="form-label">
                            Rut
                        </label>
                        <input type="text" class="form-control" name="rut" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Nombre
                        </label>
                        <input type="text" class="form-control" name="nombre" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Apellido Paterno
                        </label>
                        <input type="text" class="form-control" name="apellido_paterno" placeholder="Ingresa tu apellido paterno" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Apellido Materno
                        </label>
                        <input type="text" class="form-control" name="apellido_materno" placeholder="Ingresa tu apellido materno" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Fecha de Nacimiento
                        </label>
                        <input type="date" class="form-control" name="fecha_nacimiento" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Id Genero
                        </label>
                        <select class="form-select" name="id_genero" required>
                            <option value="" disabled selected>Selecciona género</option>
                            <!-- Aquí debes incluir opciones dinámicas si es necesario -->
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label">
                            Teléfono
                        </label>
                        <input type="tel" class="form-control" name="telefono" placeholder="Ingresa tu número de teléfono" required pattern="[0-9]{9,10}">
                    </div>
                    <div>
                        <label class="form-label">
                            Email
                        </label>
                        <input type="email" class="form-control" name="email" placeholder="tucorreo@example.com" required>
                    </div>
                    <div>
                        <label class="form-label">
                            Dirección
                        </label>
                        <input type="text" class="form-control" name="direccion" placeholder="Ingresa tu dirección">
                    </div>
                    <div>
                        <label class="form-label">
                            Activo
                        </label>
                        <input type="number" class="form-control" name="activo" placeholder="1 o 0" required>
                    </div><br>
                    <div class="text-center">
                        <button class="custom-btn btn-secondary">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

  <!-- Espacio entre footer  -->
  <div class="spacer" style="height: 50px;"></div>
  <div class="spacer" style="height: 50px;"></div>

  <!-- Incluir el footer desde el directorio includes -->
  {% include 'noticiero/includes/footer.html' %}

   <!-- Scripts -->
   <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'js/validaciones.js' %}"></script>

</body>
</html>
