
footer {
    margin-top: auto; /* Asegura que el footer esté siempre al final */
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logofooter{
    width: 100px;
    height: 100px;  
    margin:auto;
    align-items: center;
    justify-content: center;
}

.footer-text {
  font-family: Arial, sans-serif; /* Define la fuente del texto */
  font-size: 14px; /* Tamaño del texto */
  font-weight: normal; /* Peso del texto: normal, bold, etc. */
  color: #fff; /* Color del texto */
  margin-top: 10px; /* Espaciado externo superior */
  padding: 10px 0; /* Espaciado interno superior e inferior */
  line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
  text-align: center; /* Alineación del texto: left, right, center, justify */
}


.footer-card {
    width: fit-content;
    height: fit-content;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* contenedores de redes sociales */
  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .footer-icons .icon-container {
    width: 42px;
    height: 42px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  
  /* Hover para cada ícono de red social */
  .icon-instagram:hover {
    background-color: #d62976;
  }
  
  .icon-twitter:hover {
    background-color: #00acee;
  }
  
  .icon-linkedin:hover {
    background-color: #0072b1;
  }
  
  .icon-whatsapp:hover {
    background-color: #128c7e;
  }
  
  .icon-container:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  /* Estilos para los íconos SVG */
  .icon-svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  
  /* Animación para los íconos SVG */
  .icon-container:hover .icon-svg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  
/* Estilos del encabezado */

.bg-bordeaux {
  background-color: #720312;
  border-radius: 15px;
}

.logo img {
  width: 120px; 
  height: 120px;
  display: flex;
  justify-content: left;
  
}

nav {
  flex: 2;
  text-align: center; /
}

.search {
  flex: 1;
}

.search-form {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  margin-right: auto;
}

.search-button {
  margin-left: 5px; /* Ajuste de margen para separar el botón del cuadro de búsqueda */
}

.input {
  background-color: #b1b1b1;
  margin: 0;
  padding: 0;
  color: #b1b1b1;
  word-wrap: break-word;
  outline: 5px solid #720312;
  height: 35px;
  font-size: 17px;
  text-align: center;
  transition: all .3s;
  max-width: 190px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.input:hover {
  border-top-width: 0.2em;
  background-color: #ffffffeb;
}

.input:focus {
  border-top-width: 0.2em;
  background-color: #720312;
}

.auth-links {
  margin-right: 10px; 
}

.auth-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #fff;
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
  background-color: #b1b1b1; /* color de fondo al pasar el cursor */
  color: #fff; /*color del texto al pasar el cursor */
}
