
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; /* Inicialmente oculto */
    z-index: 9999; /* Asegura que esté por encima de todo */
  }
  
  .square {
    background: #ddd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
  }
  @keyframes loader_5191 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  #sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
  }
  
  #sq2 {
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
  }
  
  #sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
  }
  
  #sq4 {
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
  }
  
  #sq5 {
    animation: loader_5191 675ms ease-in-out 300ms infinite;
  }
  
  #sq6 {
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
  }
  
  #sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
  }
  
  #sq8 {
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
  }
  
  #sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
  }

/* Estilos generales */
.close-modal {
    font-size: 1.5rem;
    color: #000;
}

html, body {
    height: 100%; /* Asegura que el contenido ocupe toda la altura */
}

body {
    display: flex;
    flex-direction: column;
}

.spacer {
    padding-bottom: 50px; /* Espacio extra en la parte inferior */
  }
  

footer {
    margin-top: auto; /* Asegura que el footer esté siempre al final */
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logofooter{
    width: 100px;
    height: 100px;  
    margin:auto;
    align-items: center;
    justify-content: center;
}

.footer-card {
    width: fit-content;
    height: fit-content;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* contenedores de redes sociales */
  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .footer-icons .icon-container {
    width: 42px;
    height: 42px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  
  /* Hover para cada ícono de red social */
  .icon-instagram:hover {
    background-color: #d62976;
  }
  
  .icon-twitter:hover {
    background-color: #00acee;
  }
  
  .icon-linkedin:hover {
    background-color: #0072b1;
  }
  
  .icon-whatsapp:hover {
    background-color: #128c7e;
  }
  
  .icon-container:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  /* Estilos para los íconos SVG */
  .icon-svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  
  /* Animación para los íconos SVG */
  .icon-container:hover .icon-svg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

/* Clima Api*/
.weather-widget {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos del encabezado */

.bg-bordeaux {
    background-color: #720312;
    border-radius: 15px;
}

.logo img {
    width: 120px; 
    height: 120px;
    display: flex;
    justify-content: left;
    
}

nav {
    flex: 2;
    text-align: center; /
}

.search {
    flex: 1;
}

.search-form {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    margin-right: auto;
}

.search-button {
    margin-left: 5px; /* Ajuste de margen para separar el botón del cuadro de búsqueda */
}

.input {
    background-color: #720312;
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: #b1b1b1;
    word-wrap: break-word;
    outline: 5px solid #720312;
    height: 35px;
    font-size: 17px;
    text-align: center;
    transition: all .3s;
    max-width: 190px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .input:hover {
    border-top-width: 0.2em;
    background-color: #ffffffeb;
  }
  
  .input:focus {
    border-top-width: 0.2em;
    background-color: #720312;
  }

.auth-links {
    margin-right: 10px; 
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #fff;
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: #b1b1b1; /* color de fondo al pasar el cursor */
    color: #fff; /*color del texto al pasar el cursor */
}

/* Carrusel de noticias destacadas */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
}

.cont-txt {
    padding: 20px;
    background-color: #f8f9fa;
}

.tit {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.baj {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn-main {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-main:hover {
    background-color: #0056b3;
}

.carousel-item {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.carousel-item img {
    max-width: 500%;
    max-height: 540px;
    border-radius: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Style contenido principal */
main {
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-group {
    flex-direction: column; 
}

.block-grid {
    padding: 60px 0;
}


.row .col:first-child {
    margin-left: 0;
} 

.col {
    border-left-width: 18px;
    padding: 0 0px;
}

.img-wrap img {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

img {
    display: block;
    width: 100%;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* Popover */
.palabra-clave {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.palabra-clave::after {
    content: attr(data-content);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.palabra-clave:hover::after {
    visibility: visible;
    opacity: 1;
}


/* Carrusel Categorias */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor principal */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

.category-carousel {
    margin-top: 30px; /* Espaciado entre secciones */
    overflow: hidden; /* Oculta el contenido que se desborde */
}

.swiper-container {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 300px; /* Altura del carrusel */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Centra las tarjetas */
}

.category-card {
    width: 250px; /* Ancho de la tarjeta */
    height: 100%; /* Altura total */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: 0.3s; /* Transición suave para efectos */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para mantener el contenido dentro */
}

.category-card img {
    width: 100%; /* Ancho completo de la imagen */
    height: auto; /* Ajusta la altura según el contenido */
}

.category-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el mouse */
}

.swiper-button-prev,
.swiper-button-next {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 10px; /* Ajusta la posición de la flecha izquierda */
}

.swiper-button-next {
    right: 10px; /* Ajusta la posición de la flecha derecha */
}

.swiper-pagination {
    bottom: 10px; /* Ubicación de la paginación */
    z-index: 10; /* Asegura que esté por encima */
}


/* Clima */
.weatherRectangle {
    display: flex;
    flex-wrap: wrap; /* Elementos se envuelvan en filas adicionales si no caben en una sola fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 80px; /* Espacio superior */
    padding: 300px; /* Espacio interno */
    background-image: url('Img/index/clima.jpg'); /* Cambiar 'ruta/de/la/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    border-radius: 0px; /* Bordes redondeados */
    position: relative;  /* Permitirá posicionar el botón de título de forma absoluta */
}

.weatherTitleButton {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px; /* Espaciado interno del botón ajustado */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 5em; /* Tamaño de la fuente ajustado */
    letter-spacing: 2px; /* Ajusta el espacio entre las letras */
    cursor: pointer;
}
    .weatherTitleButton::before {
        margin-left: auto;
    }

    .weatherTitleButton::after,
    .weatherTitleButton::before {
        content: '';
        width: 0%;
        height: 2px;
        background: #36d8f4;
        display: block;
        transition: 0.5s;
    }

    .weatherTitleButton:hover::after,
    .weatherTitleButton:hover::before {
        width: 100%;
    }

.weatherWidgetContainer {
    display: flex;
    justify-content: center; /* Centra las tarjetas en el contenedor */
    align-items: center; /* Asegura que las tarjetas estén alineadas verticalmente */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
.weatherCard {
    width: 300px; /* Agranda la tarjeta */
    height: 330px; /* Agranda la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px); /* Aplica un efecto de desenfoque */
    background-color: rgba(65, 65, 65, 0.5); /* Ajusta la transparencia */
    border: 1px solid rgba(255, 255, 255, 0.789);
    cursor: pointer;
  }
  
.weatherCity,
.weatherDescription {
    font-size: 1.1em; /* Aumenta el tamaño del texto */
    font-weight: 700;
    letter-spacing: 1.2px;
    color: white;
  }
  
.weatherTemp {
    font-size: 2.5em; /* Aumenta el tamaño del texto */
    color: white;
  }
  
.weatherIcon {
    width: 70px; /* Agranda la imagen */
    height: 70px; /* Agranda la imagen */
  }
  
.minMaxContainer {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Asegura que el contenido ocupe todo el ancho */
  }
  
.min,
.max {
    flex-direction: column;
    padding: 0px 10px;
  }
  
.min {
    align-items: flex-end;
  }
  
.max {
    align-items: flex-start;
    border-left: 2px solid white;
  }
  
.minHeading,
.maxHeading {
    font-size: 1em; /* Ajusta el tamaño del texto */
    font-weight: 600;
    color: white;
  }
  
.minTemp,
.maxTemp {
    font-size: 1em; /* Ajusta el tamaño del texto */
    font-weight: 500;
    color: rgb(197, 197, 197);
  }


/* Sismologia */
.sismologiaRectangle {
  display: flex;
  flex-wrap: wrap; /* Elementos se envuelvan en filas adicionales si no caben en una sola fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
  margin-top: 80px; /* Espacio superior */
  padding: 380px; /* Espacio interno */
  background-image: url('Img/index/sismologia.jpg'); /* Cambiar 'ruta/de/la/imagen.jpg' por la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  border-radius: 0px; /* Bordes redondeados */
  position: relative;  /* Permitirá posicionar el botón de título de forma absoluta */
}

.sismologiaTitleButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px; /* Espaciado interno del botón ajustado */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 6em; /* Tamaño de la fuente ajustado */
  letter-spacing: 2px; /* Ajusta el espacio entre las letras */
  cursor: pointer;
}
  .sismologiaTitleButton::before {
      margin-left: auto;
  }

  .sismologiaTitleButton::after,
  .sismologiaTitleButton::before {
      content: '';
      width: 0%;
      height: 2px;
      background: #36d8f4;
      display: block;
      transition: 0.5s;
  }

  .sismologiaTitleButton:hover::after,
  .sismologiaTitleButton:hover::before {
      width: 100%;
  }

.sismologiaWidgetContainer {
  display: flex;
  justify-content: center; /* Centra las tarjetas en el contenedor */
  align-items: center; /* Asegura que las tarjetas estén alineadas verticalmente */
  gap: 20px; /* Espacio entre las tarjetas */
}



/* uneNosotros */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 12px; /* Tamaño de la fuente ajustado */
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    background: #720312;
    background: linear-gradient(0deg, #720312 0%, #b3283a 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

