/* Estilos generales */
.close-modal {
    font-size: 1.5rem;
    color: #000;
}

html, body {
    height: 100%; /* Asegura que el contenido ocupe toda la altura */
}

body {
    display: flex;
    flex-direction: column;
}

.spacer {
    padding-bottom: 50px; /* Espacio extra en la parte inferior */
  }
  

  
/* Carrusel de noticias destacadas */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
}

.cont-txt {
    padding: 20px;
    background-color: #f8f9fa;
}

.tit {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.baj {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn-main {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-main:hover {
    background-color: #0056b3;
}

.carousel-item {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.carousel-item img {
    max-width: 500%;
    max-height: 540px;
    border-radius: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Style contenido principal */
main {
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    width: 100%; /* Ajusta el ancho de la tarjeta según tu diseño */
    margin: 0px; /* Ajusta el margen entre tarjetas */
}

.card:hover {
    transform: translateY(-10px);
}

.card-group {
    flex-direction: column; 
}

.block-grid {
    padding: 60px 0;
}


.row .col:first-child {
    margin-left: 0;
} 

.col {
    border-left-width: 18px;
    padding: 0 0px;
}

.img-wrap img {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

img {
    display: block;
    width: 100%;
    height: 420px;
    object-fit: cover;  
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* Popover */
.palabra-clave {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.palabra-clave::after {
    content: attr(data-content);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.palabra-clave:hover::after {
    visibility: visible;
    opacity: 1;
}


/* Carrusel Categorias */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor principal */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

.category-carousel {
    margin-top: 30px; /* Espaciado entre secciones */
    overflow: hidden; /* Oculta el contenido que se desborde */
}

.swiper-container {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 300px; /* Altura del carrusel */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Centra las tarjetas */
}

.category-card {
    width: 250px; /* Ancho de la tarjeta */
    height: 100%; /* Altura total */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: 0.3s; /* Transición suave para efectos */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para mantener el contenido dentro */
}

.category-card img {
    width: 100%; /* Ancho completo de la imagen */
    height: auto; /* Ajusta la altura según el contenido */
}

.category-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el mouse */
}

.swiper-button-prev,
.swiper-button-next {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 10px; /* Ajusta la posición de la flecha izquierda */
}

.swiper-button-next {
    right: 10px; /* Ajusta la posición de la flecha derecha */
}

.swiper-pagination {
    bottom: 10px; /* Ubicación de la paginación */
    z-index: 10; /* Asegura que esté por encima */
}
