{% extends 'noticiero/base.html' %}

{% block content %}
<!-- Sección de Subir Noticia -->
<section class="container mt-5" id="subirNoticias">
    <div class="custom-cardsubirNoticias">
        <h2 class="text-center">Ingresa tu historia</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingresa el título" value="{{ form.titulo.value|default_if_none:'' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="autor" class="form-label">Autor</label>
                        <input type="text" class="form-control" id="autor" name="autor" placeholder="Ingresa el autor" value="{{ form.autor.value|default_if_none:'' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_publicacion" class="form-label">Fecha de publicación</label>
                        <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" value="{{ form.fecha_publicacion.value|default_if_none:'' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Ingresa la categoría" value="{{ form.categoria.value|default_if_none:'' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Contenido</label>
                        <textarea class="form-control" id="contenido" name="contenido" rows="5" placeholder="Escribe tu contenido aquí" required>{{ form.contenido.value|default_if_none:'' }}</textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen principal</label>
                        <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
                    </div>
                    <div class="mb-3">
                        <label for="imagen_secundaria" class="form-label">Imagen secundaria</label>
                        <input type="file" class="form-control" id="imagen_secundaria" name="imagen_secundaria" accept="image/*">
                    </div>
                </div>
            </div>
            <button type="submit" class="custom-btn btn-1">Subir Noticia</button>
        </form>
    </div>
</section>
{% endblock %}
