{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caso News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
      
    <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">

    <!-- Loader -->
    {% include 'noticiero/includes/loader.html' %}
    
    <!-- Encabezado con Navbar -->
    <!-- Incluir el header desde el directorio includes -->
    {% include 'noticiero/includes/header.html' %}

<main>
    <!-- Noticia 1 -->
    <div class="noticia1-Info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/Antarticarealidadvirtual.jpg' %}" class="img-fluid" alt="Imagen de la noticia">
                </div>
                <div class="col-md-6">
                    <h2>Una experiencia inmersiva en la Antártida gracias a la realidad virtual</h2>
                    <div class="info">Autor: Fernando Tapia | Fecha: 09 de Abril, 2024 | Categoría: Tecnología</div>
                    <hr>
                    <p>Cuenta la leyenda que Ernest Shackleton, en preparación de su pionera expedición antártica, publicó un anuncio que rezaba así: “Se buscan hombres para viaje peligroso. Sueldo escaso. Frío extremo. Largos meses de completa oscuridad. Peligro constante. No se asegura el regreso. Honor y reconocimiento en caso de éxito”.</p>
                    <p>Con independencia de que sea una historia apócrifa, lo cierto es que la hostilidad climática de la Antártida no ha cambiado mucho desde entonces. Por suerte, hoy puede visitarse sin peligro para los viajeros y, lo más importante, sin perjuicios medioambientales para el continente blanco. El salvoconducto es una experiencia inmersiva desarrollada en VR por la fundación británica UKAHT.</p>
                    <b>La experiencia inmersiva de la isla de Stonington</b>
                    <p>En la Antártida existen diversos asentamientos estables, la mayoría de ellos creados a lo largo del siglo XX. En el caso de la Isla de Stonington, ubicada en la bahía de Margarita, los británicos crearon su primer asentamiento en 1946. Los edificios de la conocida como Base E acogieron, además, a las primeras mujeres que pasaron un invierno en la Antártida: Edith Ronne y Jennie Darlington, en 1947.</p>
                </div>
            
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/Antartica2.jpg' %}" alt="Imagen Antartica" class="floatLeft img-fluid">
                </div>
                <div class="col-md-6">
                    <p>Para ello han combinado fotografías de época, escaneados láser y un programa de IA que da vida a los entornos virtuales. Así, los usuarios, por medio de unas gafas de realidad virtual, pueden comprobar el estado original de las cabañas, subir a un trineo tirado por perros y recorrer la isla como si visitasen el asentamiento en persona. Este ejemplo de turismo por realidad virtual queda reforzado por la narración de dos de los científicos que trabajaron en la isla en los años sesenta del siglo XX.</p>
                    <p>En un primer momento, la experiencia inmersiva antártica solo estará disponible en el Museo Polar de Cambridge, en el Reino Unido. Sin embargo, la fundación prevé poner los materiales a disposición del público general a lo largo del año 2024.</p>
                    <hr>
                    <b>Otras experiencias inmersivas en la Antártida</b>
                    <ol>
                        <li>Antarctica 360 VR. Una experiencia inmersiva creada por el Antarctica Heritage Trust que transporta al espectador a una expedición virtual por la Península Antártica en 2019. Vive la experiencia de navegar en kayak por aguas heladas e interactuar con pingüinos.</li>
                        <li>Thin Ice VR en el Centro Internacional Antártico. Un documental de realidad virtual que sigue las huellas de la expedición de Sir Ernest Shackleton y la recreación de Tim Jarvis, destacando el impacto del cambio climático en la región.</li>
                        <li>Experiencia Virtual 360° de Quark Expeditions en la Antártida. Permite descubrir el paisaje antártico con videos en VR que simulan la experiencia de estar en una expedición.</li>
                        <li>La Experiencia Antártica en el Museo Nacional de Australia. Ofrece la posibilidad de vivir una aventura en VR que muestra un día en la vida de los científicos antárticos, desde vuelos en helicóptero sobre glaciares hasta el descubrimiento de colonias de pingüinos.</li>
                        <li>Exploración Antártica en VR de National Geographic: El espectador acompaña al fotógrafo de National Geographic, Paul Nicklen, en un tour en realidad virtual por la Antártida, con imágenes de 360 grados del paisaje y encuentros con la fauna del lugar.</li>
                    </ol>
                </div>
                         
            </div>
            </div>
        </div>
    </div>
</main>

<div class="spacer" style="height: 50px;"></div>
    
    <!-- Pie de página -->
    <!-- Incluir el footer desde el directorio includes -->
    {% include 'noticiero/includes/footer.html' %}

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
