{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News - Noticia</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'Img/Logo/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Hoja de estilos -->
      <style>
        .search-form {
            margin-right: auto;
        }
        .search-button {
            color: white;
            background-color: #720312;
        }
        .noticia-card {
            background-color: #f8f9fa; /* Color de fondo para resaltar las noticias */
        }
    </style>
</head>
<body style="background-color: #DBE0E3;">
    <!-- Encabezado con Navbar -->
    <!-- Incluir el header desde el directorio includes -->
    {% include 'noticiero/includes/header.html' %}

<main>
    <!-- Noticia 1 -->
    <div class="noticia1-Info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Img/Noticias/SingapurRanking.jpg' %}" class="img-fluid" alt="Imagen de la noticia">
                </div>
                <div class="col-md-6">
                    <h2>Chile sufre dura caída: los 10 mejores países del mundo para hacer negocios</h2>
                    <div class="info">Autor: BBC News Mundo | Fecha: 12 de abril de 2024 | Categoría: Economía</div>
                    <hr>
                    <p>El ránking de los mejores lugares del mundo para hacer negocios elaborado por el centro de análisis <span id="palabraclave" class="palabra-clave" data-content="La Economist Intelligence Unit es una unidad de negocios independiente en el grupo The Economist.​">Economist Intelligence Unit (EIU)</span> trae cambios para Argentina, que ingresa en una nueva categoría, y Chile, que registró una importante caída.</p>
                    <p>La lista global del EIU recoge los países que ofrecen las condiciones más favorables para que los grandes inversores decidan mover sus capitales a esos territorios.

                        Entre esas condiciones están la <span id="palabraclave" class="palabra-clave" data-content="La estabilidad económica se refiere a toda situación caracterizada por la ausencia de grandes variaciones en el nivel de producción, renta y empleo, junto con poca o nula inflación (variación de precios).​">estabilidad macroeconómica,</span> , la situación política, las oportunidades de mercado, las restricciones comerciales o el sistema impositivo.</p>
                    <p>“Hacemos una proyección de lo que puede ocurrir dentro de los próximos cinco años”, dice Nicolás Saldías, economista senior del EIU para América Latina en diálogo con BBC Mundo.</p>
                    <p>Para eso estudian 91 indicadores divididos en 11 categorías que les ayudan a elaborar una radiografía futura de los 82 países que aparecen el el listado.

                        “Analizamos asuntos como el riesgo de inestabilidad política y los posibles cambios que eso puede provocar en el entorno de negocios”, explica.</p>
                    <p>Así, según el EIU, Singapur, Dinamarca y Estados Unidos serán los países con el mejor entorno para atraer capitales en los próximos años, seguidos por Alemania y Suiza.</p>

                    <b>Canadá, Suecia, Nueva Zelanda, Hong Kong y Finlandia completan el Top 10</b>
                    <hr>
                    </div>
                            <h2>El éxito de Singapur</h2>
                            <p>¿Por qué encabeza la lista Singapur? El pequeño país del sudeste asiático, con menos de seis millones de habitantes, continúa siendo el paraíso para los grandes inversores por razones como su alto nivel de apertura comercial, actualización tecnológica, estabilidad política y bajos niveles de corrupción.</p>
                            <p>El país ha promovido intensamente la inversión extranjera directa, reduciendo impuestos y eliminando barreras comerciales, especialmente en las áreas de tecnología, manufactura y servicios financieros.

                                Además de ofrecer incentivos a las empresas establecidas en el país, ha invertido en la construcción de puertos, aeropuertos, carreteras y redes de transporte público para fomentar la actividad comercial.</p>
                            <p>Convertido en un centro de transporte marítimo, Singapur tiene una mano de obra altamente calificada que actúa como un imán para los grandes capitales.</p>
                        <hr>
                    <h2>Argentina, un entorno en transformación</h2>
                    <p>Junto a la lista de los mejores lugares del mundo para invertir existe otra, que incluye a los países que, independiente de su posición en el ránking, tienen más posibilidades de favorecer las inversiones privadas en los próximos años.</p>
                    <b>El primer lugar de la lista lo ocupa Grecia (en la posición 34 en el ránking global), seguido por Argentina (54), India (51), Angola (78) y Catar (26).</b>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="spacer" style="height: 50px;"></div>
    
    <!-- Pie de página -->
    <!-- Incluir el footer desde el directorio includes -->
    {% include 'noticiero/includes/footer.html' %}

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
